.booking_form,
.rules_section {
    background-color: rgb(255, 255, 255); 
    width: 75%;
    margin: 150px auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding for better appearance */
    color: #000;
    border-radius: 10px; /* Optional: Add rounded corners to the for    m */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for better appearance */
    font-size: x-large; 
}

.booking_form label {
    font-weight: bold;
}

.booking_form input[type="text"],
.booking_form input[type="email"],
.booking_form input[type="tel"],
.booking_form input[type="date"],
.booking_form input[type="time"],
.booking_form input[type="number"],
.booking_form input[type="file"],
.booking_form textarea,
.booking_form select { /* Include select element */
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

.booking_form button,
.alert {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font: small-caps bold 20px/35px Georgia, serif;
    width: 45%;
    padding: 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking_form button:hover, 
.alert:hover {
    background-color: #ff6666;
}

.heading {
    text-align: center;
    font: small-caps bold 40px/70px Georgia, serif;
    margin: -10px;    
}

.guest_details {
    display: none;
}

.capt {
    width: calc(98% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

.refresh {
    width: calc(10% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    height: auto;
    background-color: transparent;
    border: none;
}

.booking_form select {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

sup {
    color: red;
    font-size: x-large;
}

.rules_section p{
font: small-caps bold 25px/40px Georgia, serif;
}

.rules_section ul {
    text-align: left;
    padding-left: 50px;
}