* {
    margin: 0;
    padding: 0;
}
.pop {
    margin-top: 120px;
    text-align: center;
    font: small-caps bold 75px/100px Georgia, serif;
}
input {
    display: none;
}
.container {
    width: 100%;
}
.top-content {
    background-color: rgb(38, 37, 37);
    width: 93%;
    margin-left: 70px;
    margin-bottom: 10px;
    padding: 5px;
    height: 60px;
    display: flex;
    border-radius: 5px;
}
h3 {
    height: 90%;
    background-color: #c5d9d8;
    font: small-caps bold 25px/40px Georgia, serif;
    line-height: 0 50px;
    color: black;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px whitesmoke;
}
label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    padding: 5px;
    line-height: 60px;
    font: small-caps bold 20px/35px Georgia, serif;
    color: whitesmoke;
    cursor: pointer;
    transition: color .5s;
}
label:hover {
  color: rgb(195, 190, 190);
}
.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pic_igh {
    position: relative;
    height: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    transition: .5s;
}
.pic_igh img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic_ogh {
    position: relative;
    height: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    transition: .5s;
}
.pic_ogh img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
/*For Hover Effect on Image*/
.pic_igh::before {
    content: "International Guest House";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic_igh::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}
.pic_igh:hover::after {
    height: 100%;
}
.pic_igh:hover::before {
    margin-top: 0;
    opacity: 1;
}
.pic_ogh::before {
    content: "Old Guest House";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic_ogh::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}
.pic_ogh:hover::after {
    height: 100%;
}
.pic_ogh:hover::before {
    margin-top: 0;
    opacity: 1;
}

/* For Tablets */
@media screen and (min-width: 640px) and (max-width: 1024px) {

    .container {
        width: 100%;
    }

    .pic_igh {
        position: relative;
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
        transition: .5s;
    }
    .pic_igh img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }
    .pic_ogh {
        position: relative;
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
        transition: .5s;
    }
    .pic_ogh img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }

}

/* For Tablets */
@media screen and (min-width: 600px) and (max-width: 640px) {

    .top-content {
        background-color: rgb(38, 37, 37);
        width: 100%;
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 5px;
        height: 60px;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .pic_igh {
        position: relative;
        height: 225px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
        transition: .5s;
    }

    .pic_igh img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }
    
    .pic_ogh {
        position: relative;
        height: 225px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
        transition: .5s;
    }
    
    .pic_ogh img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }

}

/* For mobile phones */
@media screen and (min-width: 320px) and (max-width: 480px) {
    
    .left_div {
        width: 25%;
        margin-left: 5px;
    }

    .right_div {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100vw;
        height: 35%;
        float: none;
    }

    /* Navigation Button Styles */
    .nav button {
        width: 29vw;
        padding-bottom: 45px;
        font: small-caps bold 12px/22px Georgia, serif;
        border-right: 3px black solid; 
        border-bottom: 3px black solid;
        cursor: pointer;
        transition: color .5s;
    }

    .pop {
        font: small-caps bold 40px/55px Georgia, serif;
    }

    .container {
        width: 100%;
    }

    .top-content {
        background-color: rgb(38, 37, 37);
        width: 100%;
        padding: 3px;
        height: 30px;
        display: flex;
        border-radius: 5px;
    }
    
    h3 {
        margin: 0;
        background-color: #c5d9d8;
        font: small-caps bold 10px/17px Georgia, serif;
        color: black;
        position: relative;
        border-radius: 5px;
        box-shadow: 3px 3px 5px whitesmoke;
    }
    
    label {
        display: inline-block;
        height: 100%;
        margin: 0 20px;
        padding: 5px;
        line-height: 60px;
        font: small-caps bold 10px/17px Georgia, serif;
        color: whitesmoke;
        cursor: pointer;
        transition: color .5s;
    }

    .photo-gallery {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .pic_igh {
        position: relative;
        height: 125px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
        transition: .5s;
    }
    .pic_igh img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }
    .pic_ogh {
        position: relative;
        height: 125px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
        transition: .5s;
    }
    .pic_ogh img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }

}